/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroLogo {
  max-width: 400px;
  height: auto;
  margin: 0 auto 1rem;
}

.heroLogoLight {
  display: block;
}

.heroLogoDark {
  display: none;
}

:global([data-theme='dark']) .heroLogoLight {
  display: none;
}

:global([data-theme='dark']) .heroLogoDark {
  display: block;
}

@media screen and (max-width: 996px) {
  .heroLogo {
    max-width: 280px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
